*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh ;
    font-family: 'Source Code Pro', monospace;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 70%;
    max-width: 1000px;
    padding: 10px;
    background-image: radial-gradient(ellipse, #7d7d7d, #636363);
    color: #f4f4f4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.header__close{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__close-red{
    background-color: red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 10px;
}
.header__close-green{
    background-color: lime;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 10px;
}
.header__close-blue{
    background-color: blue;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 10px;
}
.display-terminal{
    background: url(https://media.giphy.com/media/pVGsAWjzvXcZW4ZBTE/giphy.gif);
    background-size: cover;
    background-position: center center;
    width: 70%;
    max-width: 1000px;
    min-height: 400px;
    max-height: 400px;
    position: relative;
    color: lime;
    padding: 10px;
    overflow: hidden;
    overflow-y: auto;
}

.display-terminal__input{
    background: transparent;
    border: none;
    color: lime;
    width: 100%;
    min-height: 100px;
    resize: none;
}
.display-terminal__input::-webkit-scrollbar{
    display: none;
}
.display-terminal__input:focus{
    outline: none;
}

.cmatrix{
    background: url(https://media.giphy.com/media/AOSwwqVjNZlDO/giphy.gif);
    color: white;
}
.cassembler{
    background: url(img/assembler.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: darkblue;
}
.controlq{
    background: url(https://media.giphy.com/media/PjxPX98p8ncCOzgKYP/giphy.gif) no-repeat;
    background-size: cover;
}
.invisible{
    display: none;
}